* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header {
    padding: 30px;
    text-align: center;
    background-color: purple;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.main {
    display: flex;
    margin: 5px 0px;
    justify-content: space-evenly;
}
.first-article {
    background-color: aqua;
    justify-content: left;
    margin: 1px 10px 0px 8px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3;
    padding-bottom: 325px;
}
.first-article h3 {
    text-align:left;
    margin-top: 10px;
}
p {
    text-align: center;
    margin: 10px 10px 0px 5px;
    font-weight: 700;
    text-align: left;
}
.second-article {
    background-color: aqua;
    justify-content: left;
    margin: 0px 10px 0px 5px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3;
}
.second-article h3 {
    text-align:left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.third-article {
    background-color: aqua;
    justify-content: left;
    margin: 0px 10px 0px 5px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3;
}
section {
    margin: 10px 10px 0px 5px;
    display: flex;
    background: aqua;
}
section div {
    background-color: white;
    width: 100px;
    margin: 10px 5px 5px 5px;
    text-align: center;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 2px;
}
.blush {
width: 430px;
margin: 5px 5px 0px 5px;
text-align: center;
border: 2px;
}